{{- $context := .Context -}}
{{- $limit := default 10 .Params.limit -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "books" }}
    </div>
    <a href="{{ absURL "/series" }}"><h2 class="widget-title section-title">Series</h2></a>

    <div class="tagCloud-tags">
        {{ range first $limit $context.Site.Taxonomies.series.ByCount }}
            <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                {{ .Page.Title }}
            </a>
        {{ end }}
    </div>
</section>
