<!-- Google AdSense -->
{{ with .Site.Params.integrations.googleAdsense }}
<script async data-ad-client="ca-pub-{{ . }}" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{{ end }}

<!-- Google Analytics -->
{{ with .Site.Params.integrations.googleAnalytics }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    window.dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{ end }}

<!-- Microsoft Clarity -->
{{ with .Site.Params.integrations.microsoftClarity }}
<script async src="https://www.clarity.ms/tag/{{ . }}"></script>
<script>
  window["clarity"] = window["clarity"] || function () { (window["clarity"].q = window["clarity"].q || []).push(arguments) };
</script>
{{ end }}

<!-- Mermaid -->
{{ if .Store.Get "hasMermaid" }}
<script async 
        src="https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js" 
        integrity="sha256-pDvBr9RG+cTMZqxd1F0C6NZeJvxTROwO94f4jW3bb54=" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
        onload="mermaid.initialize({ startOnLoad: true, theme: 'neutral' });"></script>
{{ end }}
